.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p,
.reveal li {
    color: white;
}

.display-flex {
    display: flex;
    justify-content: space-around;
    align-items: center
    
}